/* CSS DA PAGINA INICIAL */

body{
	font-family: 'Montserrat', sans-serif;
}

header {
	background: linear-gradient(#67088c, #FEFEFE);
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.banner {
	width: 70%;	
	padding: 0 15%;
}

.titulo-principal {
	text-align: center ;
	color: #000000;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.titulo-principal:hover{
	color: #c78c19;
	font-size: 33px;
}

.principal{
	padding: 3em 0;
	color: #000000;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p{
	text-align: center ;
	margin: 0 0 1em;
	font-size: 20px;
}

.principal strong {
	font-weight: bold;
}

.principal a{
    color: #000000;
}

.principal a:hover{
    color: #c78c19;
	text-decoration: underline;
}

.beneficios{
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.video{
	width: 560px;
	margin: 2em auto;
}

.contato{
	background: black;
	color: white;
	text-align: center;
}

.contato a:hover{
    color: #c78c19;
	text-decoration: underline;
	font-size: 35px;
}

.contato-2 {
	text-align: center ;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

footer{
	text-align: center;    
}

.desenvolvido{
    color: black;
    font-size: 15px;
    margin: 20px 0 0;
}

.contador{
	margin: 2em auto;
	text-align: center;    
}

/* PAGINA PLANOS */

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: #c78c19;
}

.produtos li:hover h2{
    font-size: 28px;
}

.produtos li:active{
    border-color: #088c19;
}

.produtos h2 {
	font-size: 25px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 20px;
}

.produto-preco {
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px;
}

/*  ADAPTAÇÃO PARA CELULAR */

@media screen and (max-width: 480px) {
    .caixa, .principal,  .video, .produtos, .produtos li, .contato{
		width: auto;
		text-align: center;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .produtos {
		width: 100%;
		text-align: center;
    }
}




